In [23]:
#store the data we get as a dataframe
import pandas as pd

#convert the response as a strcuctured json
import json

#mathematical operations on lists
import numpy as np

import os

# Imports the method used to connect to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract python classes into database tables
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# function to establish a session with a connected database
from sqlalchemy.orm import Session

# database compliant datatypes
from sqlalchemy import Column, Integer, String, Float

### Below I bring in the different dataframes.  Some column names need to be adjusted because postgres doesn't like the special characters

In [24]:
# define path to the city level data

city_file=os.path.join('..','data','cleaned','master_city_data.csv')

# read in the city level data

city=pd.read_csv(city_file)

city_df=pd.DataFrame(city)

# postgres didn't like capital letters or special characters in field names, so renaming

city_df=city_df.rename(columns={'GEO_ID' : 'geo_id','Total_Workers' : 'total_workers','Male_Workers' : 'male_workers', 
                 'Female_Workers' : 'female_workers','Private_Auto' : 'private_auto','Public_Transport' : 'public_transport',
                 'Walks' : 'walks','Bike' : 'bike' , 'Other': 'other',  'Works_Home' : 'works_home', 
                 'Median_Income' : 'median_income','Mean_Income' : 'mean_income',  'Unemployment_Rate' : 'unemployment_rate', 
                 'City_Code' : 'city_code',  'Population': 'population', 'City' : 'city','State_Abbr' : 'state_abbr',  
                 'City_State' : 'city_state',
                 'Total_Population over 25 years old' : 'total_population_over_25_years_old', 
                 'Less than 9th Grade' : 'less_than_9th_grade' ,'9th to 12th (no diploma)' : '9th_to_12th_no_diploma' ,
                 'High School Diploma' : 'high_school_diploma' ,'Some College (no degree)' : 'some_college_no_degree' ,
                 'Associate Degree' : 'associate_degree' ,'Bachelor Degree' :'bachelor_degree' ,
                 'Graduate/Proffesional Degree' : 'graduate_proffesional_degree', 
                 'High School Graduate or Higher' : 'high_school_graduate_or_higher',
                 'Bachelor Degree or Higher' : 'bachelor_degree_or_higher','White' : 'white',
                 'Black/African American' : 'black_african_american', 
                 'American Indian & Alaska Native' : 'american_indian_alaska_native',
                 'Asian' : 'asian','Some other race' : 'some_other_race','Hispanic/Latino' : 'hispanic_latino',
                 'Median_value' : 'median_value'
                })

city_df.head()

print(city_df.columns.values)

city_df.shape

['geo_id' 'total_workers' 'male_workers' 'female_workers' 'private_auto'
 'public_transport' 'walks' 'bike' 'other' 'works_home' 'median_income'
 'mean_income' 'unemployment_rate' 'city_code' 'population' 'city'
 'state_abbr' 'city_state' 'total_population_over_25_years_old'
 'less_than_9th_grade' '9th_to_12th_no_diploma' 'high_school_diploma'
 'some_college_no_degree' 'associate_degree' 'bachelor_degree'
 'graduate_proffesional_degree' 'high_school_graduate_or_higher'
 'bachelor_degree_or_higher' 'white' 'black_african_american'
 'american_indian_alaska_native' 'asian' 'some_other_race'
 'hispanic_latino' 'median_value']

(519, 35)

In [25]:
# bring in state level data

state_file=os.path.join('..','data','cleaned','master_state_data.csv')

state=pd.read_csv(state_file)

state_df=pd.DataFrame(state)


# postgres didn't like capital letters or special characters in field names, so renaming
# also renamed GEO_ID to avoid confusion with the city level GEO_ID

state_df=state_df.rename(columns={'GEO_ID' : 'state_geo_id','Total_Workers' : 'total_workers','Male_Workers' : 'male_workers', 
                 'Female_Workers' : 'female_workers','Private_Auto' : 'private_auto','Public_Transport' : 'public_transport',
                 'Walks' : 'walks','Bike' : 'bike' , 'Other': 'other',  'Works_Home' : 'works_home', 
                 'Median_Income' : 'median_income','Mean_Income' : 'mean_income',  'Unemployment_Rate' : 'unemployment_rate', 
                 'Population': 'population', 'State' : 'state',  
                 'Total_Population over 25 years old' : 'total_population_over_25_years_old', 
                 'Less than 9th Grade' : 'less_than_9th_grade' ,'9th to 12th (no diploma)' : '9th_to_12th_no_diploma' ,
                 'High School Diploma' : 'high_school_diploma' ,'Some College (no degree)' : 'some_college_no_degree' ,
                 'Associate Degree' : 'associate_degree' ,'Bachelor Degree' :'bachelor_degree' ,
                 'Graduate/Proffesional Degree' : 'graduate_proffesional_degree', 
                 'High School Graduate or Higher' : 'high_school_graduate_or_higher',
                 'Bachelor Degree or Higher' : 'bachelor_degree_or_higher','White' : 'white',
                 'Black/African American' : 'black_african_american', 
                 'American Indian & Alaska Native' : 'american_indian_alaska_native',
                 'Asian' : 'asian','Some other race' : 'some_other_race','Hispanic/Latino' : 'hispanic_latino',
                 'Median_value' : 'median_value'
                })
state_df.head()
state_df.shape

(52, 32)

In [26]:
# bring in weathr data

weather_file=os.path.join('..','data','cleaned','master_weather_data.csv')

weather=pd.read_csv(weather_file)

weather_df=pd.DataFrame(weather)

# postgres doesn't like capital letters in field names, so renaming

weather_df=weather_df.rename(columns={'State': 'state', 'Month': 'month'})

weather_df.head()

     state  avg_high  avg_low  avg_prec month
0  Alabama        57       36      4.65   Jan
1  Alabama        62       39      5.28   Feb
2  Alabama        70       45      5.94   Mar
3  Alabama        77       52      4.02   Apr
4  Alabama        84       61      3.54   May

In [27]:
# bring in weathr data

mapping_file=os.path.join('..','data','cleaned','master_mapping_data.csv')

mapping=pd.read_csv(mapping_file)

mapping_df=pd.DataFrame(mapping)

# postgres doesn't like capital letter in field name, so renaming

mapping_df=mapping_df.rename(columns={'State': 'state', 'State_Abbr': 'state_abbr'})

mapping_df.head()

        state state_abbr
0     Alabama         AL
1      Alaska         AK
2     Arizona         AZ
3    Arkansas         AR
4  California         CA

### The next section defines the connection to the database

In [28]:
# variables to populate the database connection string
db_user = 'postgres'
db_password = 'postgres'
db_host = 'localhost'
db_port = 5432

# This database must already exist
db_name = "city_state_data_db"

engine = create_engine(f"postgres://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

In [29]:
Base.metadata.create_all(engine)

In [30]:
session = Session(bind=engine)

### Below I output the dataframes to tables in the database defined above.  If they are already there, it will replace them.  index is set to false, so the index will not be output to the table, except for the weather data where the index will be used as the primary key

In [31]:
city_df.to_sql('city_data', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE city_data ADD PRIMARY KEY (geo_id);')

In [32]:
state_df.to_sql('state_data', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE state_data ADD PRIMARY KEY (state_geo_id);')

In [33]:
# Here i set index=True which will output the index which can then be used for a primary key since there is no unique value

weather_df.to_sql('weather_data', engine, if_exists="replace", index=True)
with engine.connect() as con:
    con.execute('ALTER TABLE weather_data ADD PRIMARY KEY (index);')

In [34]:
mapping_df.to_sql('mapping_data', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE mapping_data ADD PRIMARY KEY (state);')