# Weather Data

* Go to https://www.usclimatedata.com/

In [7]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup

In [8]:
import pandas as pd
import time

In [9]:
#pip install bs4 pandas splinter

In [10]:
#pip install pandas

### Windows Users

Windows users will need to store the `chromedriver.exe` file in the same location as this _.ipynb_ file, or they will need to provide the path to the executable.

In [11]:
# identify location of chromedriver and store it as a variable
driverPath = 'c:/apps/chromedriver/chromedriver.exe'

# Setup configuration variables to enable Splinter to interact with browser
executable_path = {'executable_path': driverPath}
browser = Browser('chrome', **executable_path, headless=False)

### Define URL to scrape and inform the browser to visit the page

In [12]:
url = 'https://www.usclimatedata.com/'
browser.visit(url)

### Capture the weathe data by State with associated URLs

In [13]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [14]:
#print(html)

In [15]:
states = soup.find_all('a', class_="province")

In [16]:
states

[<a class="province" href="/climate/alabama/united-states/3170" title="Climate Alabama">Alabama</a>,
 <a class="province" href="/climate/kentucky/united-states/3187" title="Climate Kentucky">Kentucky</a>,
 <a class="province" href="/climate/north-dakota/united-states/3204" title="Climate North Dakota">North Dakota</a>,
 <a class="province" href="/climate/alaska/united-states/3171" title="Climate Alaska">Alaska</a>,
 <a class="province" href="/climate/louisiana/united-states/3188" title="Climate Louisiana">Louisiana</a>,
 <a class="province" href="/climate/ohio/united-states/3205" title="Climate Ohio">Ohio</a>,
 <a class="province" href="/climate/arizona/united-states/3172" title="Climate Arizona">Arizona</a>,
 <a class="province" href="/climate/maine/united-states/3189" title="Climate Maine">Maine</a>,
 <a class="province" href="/climate/oklahoma/united-states/3206" title="Climate Oklahoma">Oklahoma</a>,
 <a class="province" href="/climate/arkansas/united-states/3173" title="Climate Arkansas">Arkansas</a>,
 <a class="province" href="/climate/maryland/united-states/1872" title="Climate Maryland">Maryland</a>,
 <a class="province" href="/climate/oregon/united-states/3207" title="Climate Oregon">Oregon</a>,
 <a class="province" href="/climate/california/united-states/3174" title="Climate California">California</a>,
 <a class="province" href="/climate/massachusetts/united-states/3191" title="Climate Massachusetts">Massachusetts</a>,
 <a class="province" href="/climate/pennsylvania/united-states/3208" title="Climate Pennsylvania">Pennsylvania</a>,
 <a class="province" href="/climate/colorado/united-states/3175" title="Climate Colorado">Colorado</a>,
 <a class="province" href="/climate/michigan/united-states/3192" title="Climate Michigan">Michigan</a>,
 <a class="province" href="/climate/rhode-island/united-states/3209" title="Climate Rhode Island">Rhode Island</a>,
 <a class="province" href="/climate/connecticut/united-states/3176" title="Climate Connecticut">Connecticut</a>,
 <a class="province" href="/climate/minnesota/united-states/3193" title="Climate Minnesota">Minnesota</a>,
 <a class="province" href="/climate/south-carolina/united-states/3210" title="Climate South Carolina">South Carolina</a>,
 <a class="province" href="/climate/delaware/united-states/3177" title="Climate Delaware">Delaware</a>,
 <a class="province" href="/climate/mississippi/united-states/3194" title="Climate Mississippi">Mississippi</a>,
 <a class="province" href="/climate/south-dakota/united-states/3211" title="Climate South Dakota">South Dakota</a>,
 <a class="province" href="/climate/district-of-columbia/united-states/3178" title="Climate District of Columbia">District of Columbia</a>,
 <a class="province" href="/climate/missouri/united-states/3195" title="Climate Missouri">Missouri</a>,
 <a class="province" href="/climate/tennessee/united-states/3212" title="Climate Tennessee">Tennessee</a>,
 <a class="province" href="/climate/florida/united-states/3179" title="Climate Florida">Florida</a>,
 <a class="province" href="/climate/montana/united-states/919" title="Climate Montana">Montana</a>,
 <a class="province" href="/climate/texas/united-states/3213" title="Climate Texas">Texas</a>,
 <a class="province" href="/climate/georgia/united-states/3180" title="Climate Georgia">Georgia</a>,
 <a class="province" href="/climate/nebraska/united-states/3197" title="Climate Nebraska">Nebraska</a>,
 <a class="province" href="/climate/utah/united-states/3214" title="Climate Utah">Utah</a>,
 <a class="province" href="/climate/hawaii/united-states/3181" title="Climate Hawaii">Hawaii</a>,
 <a class="province" href="/climate/nevada/united-states/3198" title="Climate Nevada">Nevada</a>,
 <a class="province" href="/climate/vermont/united-states/3215" title="Climate Vermont">Vermont</a>,
 <a class="province" href="/climate/idaho/united-states/3182" title="Climate Idaho">Idaho</a>,
 <a class="province" href="/climate/new-hampshire/united-states/3199" title="Climate New Hampshire">New Hampshire</a>,
 <a class="province" href="/climate/virginia/united-states/3216" title="Climate Virginia">Virginia</a>,
 <a class="province" href="/climate/illinois/united-states/3183" title="Climate Illinois">Illinois</a>,
 <a class="province" href="/climate/new-jersey/united-states/3200" title="Climate New Jersey">New Jersey</a>,
 <a class="province" href="/climate/washington/united-states/3217" title="Climate Washington">Washington</a>,
 <a class="province" href="/climate/indiana/united-states/3184" title="Climate Indiana">Indiana</a>,
 <a class="province" href="/climate/new-mexico/united-states/3201" title="Climate New Mexico">New Mexico</a>,
 <a class="province" href="/climate/west-virginia/united-states/3218" title="Climate West Virginia">West Virginia</a>,
 <a class="province" href="/climate/iowa/united-states/3185" title="Climate Iowa">Iowa</a>,
 <a class="province" href="/climate/new-york/united-states/3202" title="Climate New York">New York</a>,
 <a class="province" href="/climate/wisconsin/united-states/3219" title="Climate Wisconsin">Wisconsin</a>,
 <a class="province" href="/climate/kansas/united-states/3186" title="Climate Kansas">Kansas</a>,
 <a class="province" href="/climate/north-carolina/united-states/3203" title="Climate North Carolina">North Carolina</a>,
 <a class="province" href="/climate/wyoming/united-states/3220" title="Climate Wyoming">Wyoming</a>]

#### Create a function that takes in a URL and captures one State

In [22]:
stateurl = 'https://www.usclimatedata.com//climate/kentucky/united-states/3187'
browser.visit(stateurl)

In [23]:
htmlstate = browser.html
soupState = BeautifulSoup(htmlstate, 'html.parser')

In [24]:
# climate_table = soupState.find_one('div', class_='climate_table')
climate_table = soupState.find('div', id='climate_table')

In [25]:
climate_table

<div id="climate_table">
<table><tbody><tr><th> </th><th class="climate_table_data_td">Jan</th><th class="climate_table_data_td">Feb</th><th class="climate_table_data_td">Mar</th><th class="climate_table_data_td">Apr</th><th class="climate_table_data_td">May</th><th class="climate_table_data_td">Jun</th></tr><tr><td class="climate_table_info">Average high in <span class="system">°F</span>:</td><td class="align_right temperature_red">40</td><td class="align_right temperature_red">45</td><td class="align_right temperature_red">55</td><td class="align_right temperature_red">66</td><td class="align_right temperature_red">75</td><td class="align_right temperature_red">83</td></tr><tr><td class="climate_table_info">Average low in <span class="system">°F</span>:</td><td class="align_right temperature_blue">21</td><td class="align_right temperature_blue">23</td><td class="align_right temperature_blue">31</td><td class="align_right temperature_blue">39</td><td class="align_right temperature_blue">49</td><td class="align_right temperature_blue">59</td></tr><tr><td class="climate_table_info">Av. precipitation in <span class="precip_system">inch</span>:</td><td class="align_right">3.15</td><td class="align_right">3.07</td><td class="align_right">4.06</td><td class="align_right">3.66</td><td class="align_right">4.61</td><td class="align_right">4.41</td></tr><tr><td class="climate_table_info">Days with precipitation:</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td></tr><tr><td class="climate_table_info">Hours of sunshine:</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td></tr></tbody></table><table class="climate_table_margin_top"><tbody><tr><th> </th><th class="climate_table_data_td">Jul</th><th class="climate_table_data_td">Aug</th><th class="climate_table_data_td">Sep</th><th class="climate_table_data_td">Oct</th><th class="climate_table_data_td">Nov</th><th class="climate_table_data_td">Dec</th></tr><tr><td class="climate_table_info">Average high in <span class="system">°F</span>:</td><td class="align_right temperature_red">87</td><td class="align_right temperature_red">86</td><td class="align_right temperature_red">79</td><td class="align_right temperature_red">68</td><td class="align_right temperature_red">55</td><td class="align_right temperature_red">44</td></tr><tr><td class="climate_table_info">Average low in <span class="system">°F</span>:</td><td class="align_right temperature_blue">63</td><td class="align_right temperature_blue">62</td><td class="align_right temperature_blue">55</td><td class="align_right temperature_blue">42</td><td class="align_right temperature_blue">34</td><td class="align_right temperature_blue">26</td></tr><tr><td class="climate_table_info">Av. precipitation in <span class="precip_system">inch</span>:</td><td class="align_right">4.17</td><td class="align_right">3.58</td><td class="align_right">3.15</td><td class="align_right">2.68</td><td class="align_right">3.35</td><td class="align_right">3.7</td></tr><tr><td class="climate_table_info">Days with precipitation:</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td></tr><tr><td class="climate_table_info">Hours of sunshine:</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td><td class="align_right">-</td></tr></tbody></table> </div>

In [26]:
tables = climate_table.find_all('table')

In [27]:
tables[0].find_all('tr')[1].find_all('td')

[<td class="climate_table_info">Average high in <span class="system">°F</span>:</td>,
 <td class="align_right temperature_red">40</td>,
 <td class="align_right temperature_red">45</td>,
 <td class="align_right temperature_red">55</td>,
 <td class="align_right temperature_red">66</td>,
 <td class="align_right temperature_red">75</td>,
 <td class="align_right temperature_red">83</td>]

In [28]:
avg_high = []
indx = 0
for td in tables[0].find_all('tr')[1].find_all('td'):
    if (indx > 0):
        temp_high = td.text
        avg_high.append(temp_high)
    indx = indx + 1
avg_high

['40', '45', '55', '66', '75', '83']

In [29]:
avg_low = []
indx = 0
for td in tables[0].find_all('tr')[2].find_all('td'):
    if (indx > 0):
        temp_low = td.text
        avg_low.append(temp_low)
    indx = indx + 1
avg_low

['21', '23', '31', '39', '49', '59']

In [30]:
indx = 0
for td in tables[1].find_all('tr')[1].find_all('td'):
    if (indx > 0):
        temp_high = td.text
        avg_high.append(temp_high)
    indx = indx + 1
avg_high

['40', '45', '55', '66', '75', '83', '87', '86', '79', '68', '55', '44']

In [31]:
indx = 0
for td in tables[1].find_all('tr')[2].find_all('td'):
    if (indx > 0):
        temp_low = td.text
        avg_low.append(temp_low)
    indx = indx + 1
avg_low

['21', '23', '31', '39', '49', '59', '63', '62', '55', '42', '34', '26']

In [32]:
avg_prec = []
indx = 0
for td in tables[0].find_all('tr')[3].find_all('td'):
    if (indx > 0):
        prec = td.text
        avg_prec.append(prec)
    indx = indx + 1
indx = 0
for td in tables[1].find_all('tr')[3].find_all('td'):
    if (indx > 0):
        prec = td.text
        avg_prec.append(prec)
    indx = indx + 1
avg_prec

['3.15',
 '3.07',
 '4.06',
 '3.66',
 '4.61',
 '4.41',
 '4.17',
 '3.58',
 '3.15',
 '2.68',
 '3.35',
 '3.7']

In [33]:
arr_month = []
indx = 0
for td in tables[0].find_all('tr')[0].find_all('th'):
    if (indx > 0):
        mont = td.text
        arr_month.append(mont)
    indx = indx + 1
indx = 0
for td in tables[1].find_all('tr')[0].find_all('th'):
    if (indx > 0):
        mont = td.text
        arr_month.append(mont)
    indx = indx + 1
arr_month

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [34]:
state_dict = {'name': 'Kentucky', 'avg_high': avg_high, 'avg_low' : avg_low, 'avg_prec': avg_prec, 'Month': arr_month}
df = pd.DataFrame(state_dict)
df

        name avg_high avg_low avg_prec Month
0   Kentucky       40      21     3.15   Jan
1   Kentucky       45      23     3.07   Feb
2   Kentucky       55      31     4.06   Mar
3   Kentucky       66      39     3.66   Apr
4   Kentucky       75      49     4.61   May
5   Kentucky       83      59     4.41   Jun
6   Kentucky       87      63     4.17   Jul
7   Kentucky       86      62     3.58   Aug
8   Kentucky       79      55     3.15   Sep
9   Kentucky       68      42     2.68   Oct
10  Kentucky       55      34     3.35   Nov
11  Kentucky       44      26      3.7   Dec

In [35]:
def pull_state_data(state_url, state_name):
    print(state_url)
    print(state_name)
    browser.visit(state_url)
    htmlState = browser.html
    soupState = BeautifulSoup(htmlState, 'html.parser')
    # climate_table = soupState.find_one('div', class_='climate_table')
    climate_table = soupState.find('div', id='climate_table')
    tables = climate_table.find_all('table')
    # tables[0].find_all('tr')[1].find_all('td')
 
 # loop over to get the Average High   
    avg_high = []
    indx = 0
    for td in tables[0].find_all('tr')[1].find_all('td'):
        if (indx > 0):
            temp_high = td.text
            avg_high.append(temp_high)
        indx = indx + 1
    indx = 0
    for td in tables[1].find_all('tr')[1].find_all('td'):
        if (indx > 0):
            temp_high = td.text
            avg_high.append(temp_high)
        indx = indx + 1
    # avg_high

 # loop over to get the Average Low  
    avg_low = []
    indx = 0
    for td in tables[0].find_all('tr')[2].find_all('td'):
        if (indx > 0):
            temp_low = td.text
            avg_low.append(temp_low)
        indx = indx + 1
    # avg_low
    indx = 0
    for td in tables[1].find_all('tr')[2].find_all('td'):
        if (indx > 0):
            temp_low = td.text
            avg_low.append(temp_low)
        indx = indx + 1
    # avg_low
    
 # loop over to get the Average Precipitation  
    avg_prec = []
    indx = 0
    for td in tables[0].find_all('tr')[3].find_all('td'):
        if (indx > 0):
            prec = td.text
            avg_prec.append(prec)
        indx = indx + 1
    indx = 0
    for td in tables[1].find_all('tr')[3].find_all('td'):
        if (indx > 0):
            prec = td.text
            avg_prec.append(prec)
        indx = indx + 1
    # avg_prec
    
 # loop over to get all the Months 
    arr_month = []
    indx = 0
    for td in tables[0].find_all('tr')[0].find_all('th'):
        if (indx > 0):
            mont = td.text
            arr_month.append(mont)
        indx = indx + 1
    indx = 0
    for td in tables[1].find_all('tr')[0].find_all('th'):
        if (indx > 0):
            mont = td.text
            arr_month.append(mont)
        indx = indx + 1
    # arr_month
    state_dict = {'name': state_name, 'avg_high': avg_high, 'avg_low' : avg_low, 'avg_prec': avg_prec, 'Month': arr_month}
#     print(state_dict)
    return state_dict

In [36]:
states_data = []
dfAll = pd.DataFrame()

for state in states:
    print(state['href'])
#     if (state['href'] == '/climate/kentucky/united-states/3187'):
    state_dict = pull_state_data(url + state['href'], state.text)
#     print(state_dict)
    time.sleep(5)
    dfAll = dfAll.append(pd.DataFrame(state_dict))
        
# dfAll = pd.DataFrame(states_data)
dfAll

/climate/alabama/united-states/3170
https://www.usclimatedata.com//climate/alabama/united-states/3170
Alabama
/climate/kentucky/united-states/3187
https://www.usclimatedata.com//climate/kentucky/united-states/3187
Kentucky
/climate/north-dakota/united-states/3204
https://www.usclimatedata.com//climate/north-dakota/united-states/3204
North Dakota
/climate/alaska/united-states/3171
https://www.usclimatedata.com//climate/alaska/united-states/3171
Alaska
/climate/louisiana/united-states/3188
https://www.usclimatedata.com//climate/louisiana/united-states/3188
Louisiana
/climate/ohio/united-states/3205
https://www.usclimatedata.com//climate/ohio/united-states/3205
Ohio
/climate/arizona/united-states/3172
https://www.usclimatedata.com//climate/arizona/united-states/3172
Arizona
/climate/maine/united-states/3189
https://www.usclimatedata.com//climate/maine/united-states/3189
Maine
/climate/oklahoma/united-states/3206
https://www.usclimatedata.com//climate/oklahoma/united-states/3206
Oklahoma
/climate/arkansas/united-states/3173
https://www.usclimatedata.com//climate/arkansas/united-states/3173
Arkansas
/climate/maryland/united-states/1872
https://www.usclimatedata.com//climate/maryland/united-states/1872
Maryland
/climate/oregon/united-states/3207
https://www.usclimatedata.com//climate/oregon/united-states/3207
Oregon
/climate/california/united-states/3174
https://www.usclimatedata.com//climate/california/united-states/3174
California
/climate/massachusetts/united-states/3191
https://www.usclimatedata.com//climate/massachusetts/united-states/3191
Massachusetts
/climate/pennsylvania/united-states/3208
https://www.usclimatedata.com//climate/pennsylvania/united-states/3208
Pennsylvania
/climate/colorado/united-states/3175
https://www.usclimatedata.com//climate/colorado/united-states/3175
Colorado
/climate/michigan/united-states/3192
https://www.usclimatedata.com//climate/michigan/united-states/3192
Michigan
/climate/rhode-island/united-states/3209
https://www.usclimatedata.com//climate/rhode-island/united-states/3209
Rhode Island
/climate/connecticut/united-states/3176
https://www.usclimatedata.com//climate/connecticut/united-states/3176
Connecticut
/climate/minnesota/united-states/3193
https://www.usclimatedata.com//climate/minnesota/united-states/3193
Minnesota
/climate/south-carolina/united-states/3210
https://www.usclimatedata.com//climate/south-carolina/united-states/3210
South Carolina
/climate/delaware/united-states/3177
https://www.usclimatedata.com//climate/delaware/united-states/3177
Delaware
/climate/mississippi/united-states/3194
https://www.usclimatedata.com//climate/mississippi/united-states/3194
Mississippi
/climate/south-dakota/united-states/3211
https://www.usclimatedata.com//climate/south-dakota/united-states/3211
South Dakota
/climate/district-of-columbia/united-states/3178
https://www.usclimatedata.com//climate/district-of-columbia/united-states/3178
District of Columbia
/climate/missouri/united-states/3195
https://www.usclimatedata.com//climate/missouri/united-states/3195
Missouri
/climate/tennessee/united-states/3212
https://www.usclimatedata.com//climate/tennessee/united-states/3212
Tennessee
/climate/florida/united-states/3179
https://www.usclimatedata.com//climate/florida/united-states/3179
Florida
/climate/montana/united-states/919
https://www.usclimatedata.com//climate/montana/united-states/919
Montana
/climate/texas/united-states/3213
https://www.usclimatedata.com//climate/texas/united-states/3213
Texas
/climate/georgia/united-states/3180
https://www.usclimatedata.com//climate/georgia/united-states/3180
Georgia
/climate/nebraska/united-states/3197
https://www.usclimatedata.com//climate/nebraska/united-states/3197
Nebraska
/climate/utah/united-states/3214
https://www.usclimatedata.com//climate/utah/united-states/3214
Utah
/climate/hawaii/united-states/3181
https://www.usclimatedata.com//climate/hawaii/united-states/3181
Hawaii
/climate/nevada/united-states/3198
https://www.usclimatedata.com//climate/nevada/united-states/3198
Nevada
/climate/vermont/united-states/3215
https://www.usclimatedata.com//climate/vermont/united-states/3215
Vermont
/climate/idaho/united-states/3182
https://www.usclimatedata.com//climate/idaho/united-states/3182
Idaho
/climate/new-hampshire/united-states/3199
https://www.usclimatedata.com//climate/new-hampshire/united-states/3199
New Hampshire
/climate/virginia/united-states/3216
https://www.usclimatedata.com//climate/virginia/united-states/3216
Virginia
/climate/illinois/united-states/3183
https://www.usclimatedata.com//climate/illinois/united-states/3183
Illinois
/climate/new-jersey/united-states/3200
https://www.usclimatedata.com//climate/new-jersey/united-states/3200
New Jersey
/climate/washington/united-states/3217
https://www.usclimatedata.com//climate/washington/united-states/3217
Washington
/climate/indiana/united-states/3184
https://www.usclimatedata.com//climate/indiana/united-states/3184
Indiana
/climate/new-mexico/united-states/3201
https://www.usclimatedata.com//climate/new-mexico/united-states/3201
New Mexico
/climate/west-virginia/united-states/3218
https://www.usclimatedata.com//climate/west-virginia/united-states/3218
West Virginia
/climate/iowa/united-states/3185
https://www.usclimatedata.com//climate/iowa/united-states/3185
Iowa
/climate/new-york/united-states/3202
https://www.usclimatedata.com//climate/new-york/united-states/3202
New York
/climate/wisconsin/united-states/3219
https://www.usclimatedata.com//climate/wisconsin/united-states/3219
Wisconsin
/climate/kansas/united-states/3186
https://www.usclimatedata.com//climate/kansas/united-states/3186
Kansas
/climate/north-carolina/united-states/3203
https://www.usclimatedata.com//climate/north-carolina/united-states/3203
North Carolina
/climate/wyoming/united-states/3220
https://www.usclimatedata.com//climate/wyoming/united-states/3220
Wyoming

       name avg_high avg_low avg_prec Month
0   Alabama       57      36     4.65   Jan
1   Alabama       62      39     5.28   Feb
2   Alabama       70      45     5.94   Mar
3   Alabama       77      52     4.02   Apr
4   Alabama       84      61     3.54   May
..      ...      ...     ...      ...   ...
7   Wyoming       81      54     1.93   Aug
8   Wyoming       72      45     1.46   Sep
9   Wyoming       59      34     0.91   Oct
10  Wyoming       47      24     0.55   Nov
11  Wyoming       38      17     0.47   Dec

[612 rows x 5 columns]

In [37]:
dfAll.to_csv("../static/state_temprature.csv", index=False)